{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>To-do</title>
</head>
<body>
  <div class="container">
      <h2>My to-do list </h2>
      {% if to_does%}
          {% for to_do in to_does%}
            <h3>Status - {{to_do.status}}</h3>
            <h4>Text - {{to_do.text}}</h4>
          {% endfor %}
      {% else %}
        <h2>Add to to-do list</h2>
      {% endif %}
      <a href="/add_todo">Add to-do</a>
  </div>
</body>
</html>